@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: Auliare;
  src: url('./fonts/Gilroy-Regular.ttf');
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Auliare
}

